
/* Dot notation refer to "class" */
.pixel-img {
    width: 200px;
    height: 200px;
    margin-left: 10px;
    padding-top: 10px;
}

/* # notation refer to "id" */
#ada-img {
    border: 10px solid #000;
}

.card-container {
    width: 20em;
    height: auto;
    outline: 1px solid #555;
    margin: 1em;
    padding: 1em;
}

.App {
    display: flex;
    flex-wrap: wrap;
    padding-left: 10em;
    padding-right: 10em;
}