
/* Dot notation refer to "class" */
.pixel-img {
    width: 200px;
    height: 200px;
    margin-left: 10px;
    padding-top: 10px;
}

/* # notation refer to "id" */
#ada-img {
    border: 10px solid #000;
}

.card-container {
    width: 20em;
    height: auto;
    outline: 2px dashed #BF4904;
    margin: 1em;
    padding: 1em;
}

.App {
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    padding: 1em;
}

.card-hz-container {
    display: flex;
    height: 12em;
    width: 100%;
    outline: 2px solid #F27405;
    padding: 1em;
    margin-bottom: 3em;
    box-shadow: 1em 1.1em 0.4em #BF4904;
}

.card-hz-content {
    flex-direction: column;
    padding-left: 1em;
}

.card-vertical-zone {
    display: flex;
    width:  100%;
    justify-content: center;
}